@charset "UTF-8";

/* ---- 画面の大枠のレイアウト用CSS ---- */

/* ---- 共通 ---- */
body {
	margin: 0;
	padding: 0;
	background-color: #F2F9F1;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 920px;
	margin: 0px auto;
}

.login {
	max-width: 100%;
}

/* ---- ヘッダー ---- */
header {
	height: 80px;
	max-width: 100%;
	background-color: #B6CDBD;
	padding-top: 10px;
}

header .title {
	margin-left: 10px;
	line-height: 45px;
	font-size: 25pt;
	color: #2F5249;
	font-weight: bold;
	padding: 0.3em 0.5em;
	border-left: 10px double #5C715E;
}

header .textlink {
	margin-right: 20px;
	line-height: 45px;
	text-align: right;
	font-weight: bolder;
	padding-top: 10px;
}

header .textlink a {
	position: relative;
	color: #5D688A;
	text-decoration: none;
}

header .textlink a:hover {
	color: #124170;
}

header .textlink a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 10px;
	background-color: rgba(92, 113, 94, 0.7);
	transition: width 0.3s;
}

header .textlink a:hover::after {
	width: 100%;
}

/* ---- サイドバー ---- */
aside {
	width: 200px;
	margin-top: 10px;
}

aside .title {
	background-color: #5C715E;
	margin: 20px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
	color: #F2F9F1;
	text-align: center;
	border-radius: 4px;
}

aside .form {
	padding-left: 15px;
}

aside input[type=text] {
	width: 110px;
	margin-right: 10px;
}

aside select {
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 110px;
}

aside input[type=submit] {
	width: 50px;
	margin-right: 5px;
}

/* ---- メイン ---- */
article {

	width: 700px;
	padding-left: 20px;
}


/* ---- フッター ---- */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #B6CDBD;
	text-align: center;
	font-size: 8pt;
	line-height: 30px;
	color: #5D688A;
}